{#
/*
 * Oasys Digital Signage
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}
{% import "inline.twig" as inline %}

{% block formTitle %}
    {% trans "Assign a Layout" %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, layoutAssignSubmit()
{% endblock %}

{% block callBack %}layoutFormCallBack{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning">
                {% trans "Assigning a Layout to a Display/DisplayGroup does NOT schedule that Layout to be shown. Please use the Schedule to show Layouts." %}
            </div>
            <div id="FileAssociationsAssign" class="card p-3 mb-3 bg-light" data-url="{{ url_for("displayGroup.assign.layout", {id: displayGroup.displayGroupId}) }}">
                <div>
                    <ul id="FileAssociationsSortable">
                        {% for item in layouts %}
                        <li data-layout-id="{{ item.layoutId }}" class="btn btn-sm btn-white">{{ item.layout }}<span class="fa fa-minus"></span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="XiboGrid" id="{{ random() }}">
                <div class="FilterDiv card-body">
                    <form onsubmit="false">

                    </form>
                </div>
                <div class="XiboData card pt-3">
                    <table id="layoutAssignments" data-url="{{ url_for("layout.search") }}" class="table table-striped" data-state-preference-name="campaignLayoutAssignGrid">
                        <thead>
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}