{#
/*
 * Oasys Digital Signage
 * 
 * 
 */
#}

{% extends "connector-form-edit.twig" %}
{% import "forms.twig" as forms %}

{% block connectorFormFields %}
    <h3>Twitter</h3>
    <p>Recent changes to Twitter mean that this API will only work for users with existing API keys and will
    cease to function completely in an unspecified time.</p>
    <p>We <strong>do not</strong> recommend this connector.</p>

    {% if interface.isProviderSetting("apiKey") %}
        <p>{{ "Your platform provider has configured this connector for you."|trans }}</p>
    {% else %}
        {% set title %}{% trans "API Key" %}{% endset %}
        {% set helpText %}{% trans "Enter your API Key from Twitter." %}{% endset %}
        {{ forms.input("apiKey", title, interface.getSetting("apiKey"), helpText) }}

        {% set title %}{% trans "API Secret" %}{% endset %}
        {% set helpText %}{% trans "Enter your API Secret from Twitter." %}{% endset %}
        {{ forms.input("apiSecret", title, interface.getSetting("apiSecret"), helpText) }}

        {% set title %}{% trans "Needs user authorisation?" %}{% endset %}
        {% set helpText %}{% trans "Should these API keys be used to obtain user authorisation? If unchecked the key owners account will be used." %}{% endset %}
        {{ forms.checkbox("delegated", title, interface.getSetting("delegated"), helpText) }}

        {{ forms.message("If you change the user authentication option please save and reopen this to complete authorisation."|trans) }}

        {% set title %}{% trans "Cache Period" %}{% endset %}
        {% set helpText %}{% trans "Enter the number of seconds you would like to cache twitter search results." %}{% endset %}
        {{ forms.input("cachePeriod", title, interface.getSetting("cachePeriod", 3600), helpText) }}

        {% set title %}{% trans "Cache Period for Images" %}{% endset %}
        {% set helpText %}{% trans "Enter the number of hours you would like to cache twitter images." %}{% endset %}
        {{ forms.input("cachePeriodImages", title, interface.getSetting("cachePeriodImages", 24), helpText) }}
    {% endif %}
{% endblock %}